.block {
	width: 407px;
	height: 195px;
	margin: 5px;
}

.day {
	display: inline-block;
	width: 33%;
	height: 180px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	margin: -1px;
}

.day__date {
	color: white;
	background-color: #30ACD6;
	font-size: 24px;
}

.weather-icon {
	width: 114px;
	height: 94px;
	margin: auto auto 10px;
}

.weather-sun {
	background-image: url("http://htmlbook.ru/files/weather-sun.jpg");
}

.weather-snow {
	background-image: url("http://htmlbook.ru/files/weather-snow.jpg");
}

.weather-blizzard {
	background-image: url("http://htmlbook.ru/files/weather-blizzard.jpg");
}

.day__temperature {
	font-size: 30px;
}

.day:hover {
	box-shadow: 0 0 5px;
}