ul {
	list-style-type: none;
	border: 1px solid #000;
	width: 200px;
	padding: 8px;
	border-radius: 8px;
	background: #f3ca3a;
	color: #880000;
	box-shadow: 5px 5px 0 0 #880000;
}

li:not(:last-of-type) {
	padding-bottom: 8px;
}