body {
	font-family: Arial, sans-serif;
	color: #ffffff;
	background-color: #001646;
}

.text-center {
	text-align: center;
}

table {
	width: 970px;
	border-collapse: collapse;
	border-width: 0;
}

tr, th {
	padding: 5px;
}

tr.table-head {
	height: 280px;
}

tr.table-body > td {
	background-color: black;
	color: white;
}

td.table-body__left {
	width: 200px;
	vertical-align: top;
}

.menu-table {
	border: none;
}

.menu-table td {
	height: 30px;
	background-image: url("./images/back.jpg");
	font-weight: bold;
}

.menu-table td.menu-table__main-cell {
	width: 200px;
}

.table-body__right {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 2pt;*/
	text-align: justify;
}

.table-footer {
	height: 20px;
}

.table-footer td {
	text-align: center;
	background-color: #103898;
	color: white;
}